.change_password_box {
    flex: 1;

    .input_box {
        .form_group:not(:first-child) {
            margin-top: fn_calc($v: 50);
        }
    }
    .block_btn {
        margin-top: fn_calc($v: 60);
    }
}
