.find_box_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @import 'input_box';
    @import 'change_password_box';

    h2 {
        font-weight: 700;
        font-size: fn_calc($v: 40);
        line-height: fn_calc($v: 55);
        letter-spacing: fn_calc($v: -2.4);
    }

    .find_box {
        display: flex;
        flex-direction: column;
        align-items: center;

        .img_box {
            width: fn_calc($v: 130);
            height: fn_calc($v: 130);
            img {
                @include objectfit;
            }
        }

        .message_box {
            font-weight: 500;
            font-size: fn_calc($v: 23);
            line-height: fn_calc($v: 37);
            letter-spacing: fn_calc($v: -1.38);
            margin-top: fn_calc($v: 40);
            width: fn_calc($v: 260);
            text-align: center;
            word-break: keep-all;
        }

        .user_info {
            margin-top: fn_calc($v: 37);
            margin-bottom: fn_calc($v: 32);
            padding: fn_calc($v: 26);
            border-top: 0.5px solid $color_dark;
            border-bottom: 0.5px solid $color_dark;
            text-align: center;

            .user_email {
                font-weight: 500;
                font-size: fn_calc($v: 23);
                line-height: fn_calc($v: 23);
                letter-spacing: fn_calc($v: -0.46);
            }
            .regist_date {
                font-weight: 300;
                margin-top: fn_calc($v: 15);
                font-size: fn_calc($v: 20);
                line-height: fn_calc($v: 23);
                letter-spacing: fn_calc($v: -0.4);
                span:first-child:after {
                    content: '|';
                    display: inline-block;
                    margin: 0 fn_calc($v: 18);
                }
            }
        }

        .block_btn {
            margin-top: fn_calc($v: 44);
        }
    }

    .find_login_box {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;

        button,
        a {
            width: 50%;
            height: fn_calc($v: 67);
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            font-weight: 700;
            font-size: fn_calc($v: 20);
            line-height: fn_calc($v: 20);
            letter-spacing: fn_calc($v: -1.2);
            color: $color_lightdark;
            border-radius: fn_calc($v: 30);
            border: 3px solid $color_lightdark;

            &:first-child {
                margin-right: fn_calc($v: 10);
            }
        }
    }
}
