// 컨테이너 클래스 별 bg이미지 네임
$bgs: ('login', 'sub', 'complete');

.container {
    max-width: $media_base;
    // mix-blend-mode: multiply;
    margin: 0 auto;
    min-height: 100vh;
}

@media (min-width: $media_base) {
    .container {
        &:not(.login) {
            padding-bottom: 40px;
        }
    }
    .login_wrapper {
        padding: 158px 60px 70px;
        width: 553px;
    }

    .sub_header {
        padding: 50px 40px 32px;

        a {
            width: 20px;
            height: 28px;
        }
    }
    .sub_wrapper {
        margin: 0 40px;
        padding: 60px 45px;
        border-radius: 30px;
    }
}
