$color_light: #fff;
$color_dark: #000;
$color_semidark: #060606;
$color_gray: #d2d2d2;
$color_warning: #fb8713;

$media_base: 640px;

$base_url: '../images/';

@mixin objectfit {
    width: 100%;
    height: 100%;
    object-fit: cover;
    @content;
}

@function fn_calc($v, $max: 640) {
    @return calc(100vw * (#{$v}/#{$max}));
}

@keyframes slideUpError {
    0% {
        transform: translateY(0%);
        opacity: 1;
    }
    100% {
        transform: translateY(-100%);
        opacity: 0;
    }
}

@keyframes slideDownError {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}
