* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: mgothic, sans-serif; }

body {
  background-color: #000; }

input,
button {
  border: 0;
  outline: none;
  box-shadow: none;
  background-color: transparent; }

a {
  text-decoration: none; }

button,
a {
  cursor: pointer; }

img {
  display: block; }

.hidden,
*[hidden] {
  display: none !important; }

.container {
  max-width: 640px;
  margin: 0 auto;
  min-height: 100vh; }

.container.sub {
  background: url("../images/bg_sub.png") no-repeat 100%;
  background-size: cover;
  padding-bottom: calc(100vw * (40/640)); }

.sub_header {
  position: relative;
  width: 100%;
  padding: calc(100vw * (50/640)) calc(100vw * (40/640)) calc(100vw * (32/640)); }
  .sub_header a {
    display: block;
    position: relative;
    width: calc(100vw * (20/640));
    height: calc(100vw * (28/640)); }
    .sub_header a img {
      width: 100%;
      height: 100%;
      object-fit: cover; }

.sub_wrapper {
  margin: 0 calc(100vw * (40/640));
  padding: calc(100vw * (48/640)) calc(100vw * (45/640));
  border-radius: calc(100vw * (30/640));
  background-color: #fff; }

.form_group {
  position: relative; }
  .form_group label {
    font-weight: 300;
    font-size: calc(100vw * (30/640));
    line-height: calc(100vw * (30/640));
    letter-spacing: calc(100vw * (-1.8/640));
    color: #060606; }

.form_input {
  height: calc(100vw * (70/640));
  background-color: transparent;
  width: 100%;
  font-weight: 500;
  font-size: calc(100vw * (25/640));
  line-height: calc(100vw * (35/640));
  letter-spacing: calc(100vw * (-0.5/640));
  position: relative; }
  .form_input::placeholder {
    font-weight: 500;
    font-size: calc(100vw * (25/640));
    line-height: calc(100vw * (35/640));
    letter-spacing: calc(100vw * (-0.5/640));
    opacity: 0.5; }
  .form_input:focus + span:after {
    width: 100%;
    transition: width 0.3s ease-in-out; }
  .form_input ~ span {
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: calc(100vw * (10/640));
    height: calc(100vw * (2/640)); }
    .form_input ~ span:after {
      content: '';
      display: block;
      position: absolute;
      width: 0;
      height: calc(100vw * (5/640));
      background-color: #000;
      transition: width 0.3s; }
  .form_input.error ~ .error_message {
    animation: slideDownError 0.3s forwards; }
  .form_input ~ .error_message {
    position: absolute;
    left: 0;
    transform: translateY(0%);
    animation: slideUpError 0.3s forwards; }
    .form_input ~ .error_message p {
      color: #ff0000;
      font-weight: 500;
      font-size: calc(100vw * (18/640));
      line-height: calc(100vw * (18/640));
      letter-spacing: calc(100vw * (-1.08/640)); }

.block_btn {
  margin-top: calc(100vw * (34/640));
  width: 100%;
  height: calc(100vw * (67/640));
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #68c0b5;
  color: #fff;
  font-weight: 500;
  font-size: calc(100vw * (25/640));
  line-height: calc(100vw * (25/640));
  letter-spacing: calc(100vw * (-1.5/640));
  border-radius: calc(100vw * (30/640));
  transition: background-color 0.3s; }
  .block_btn[disabled] {
    background-color: #a5a5a5;
    transition: background-color 0.3s; }

.form_checkbox {
  display: flex;
  align-items: center;
  margin-right: calc(100vw * (-7/640)); }
  .form_checkbox .form_label {
    font-weight: 500;
    font-size: calc(100vw * (20/640));
    line-height: calc(100vw * (20/640));
    letter-spacing: calc(100vw * (-1.2/640)); }
  .form_checkbox .fake_box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100vw * (37/640));
    height: calc(100vw * (37/640));
    border: 1px solid #000;
    border-radius: 50%;
    margin: 0 calc(100vw * (7/640));
    transition: border-color 0.3s, background-color 0.3s; }
    .form_checkbox .fake_box:after {
      content: '';
      display: block;
      width: calc(100vw * (21.8/640));
      height: calc(100vw * (16.5/640));
      background: url("../images/check_white.svg") no-repeat 100%;
      background-size: contain;
      transform-origin: center;
      transform: scale(0); }
  .form_checkbox > input[type='checkbox'] {
    display: none; }
  .form_checkbox input[type='checkbox']:checked ~ .fake_box {
    border-color: #68c0b5;
    background-color: #68c0b5;
    transition: border-color 0.3s, background-color 0.3s; }
    .form_checkbox input[type='checkbox']:checked ~ .fake_box:after {
      animation: scaleUpdown 0.3s ease-in-out forwards; }

@media (min-width: 640px) {
  .form_group label {
    font-size: 30px;
    line-height: 30px;
    letter-spacing: -1.8px; }

  .form_input {
    height: 70px;
    font-size: 25px;
    line-height: 35px;
    letter-spacing: -0.5px; }
    .form_input::placeholder {
      font-weight: 500;
      font-size: 25px;
      line-height: 35px;
      letter-spacing: -0.5px; }
    .form_input + span {
      bottom: 10px;
      height: 2px; }
      .form_input + span:after {
        height: 5px; }
    .form_input ~ .error_message p {
      font-size: 18px;
      line-height: 18px;
      letter-spacing: -1.08px; }

  .block_btn {
    margin-top: 34px;
    height: 67px;
    font-size: 25px;
    line-height: 25px;
    letter-spacing: -1.5px;
    border-radius: 30px; }

  .form_checkbox {
    margin-right: -7px; }
    .form_checkbox .form_label {
      font-size: 20px;
      line-height: 20px;
      letter-spacing: -1.2px; }
    .form_checkbox .fake_box {
      width: 37px;
      height: 37px;
      margin: 0 7px; }
      .form_checkbox .fake_box:after {
        width: 21.8px;
        height: 16.5px; }

  .container {
    padding-bottom: 40px; }

  .sub_header {
    padding: 50px 40px 32px; }
    .sub_header a {
      width: 20px;
      height: 28px; }

  .sub_wrapper {
    margin: 0 40px;
    padding: 48px 45px;
    border-radius: 30px; } }

/*# sourceMappingURL=common.css.map */
