@font-face {
  font-family: mgothic;
  src: url("../fonts/mgothic010.ttf");
  font-weight: 100;
  font-style: normal; }
@font-face {
  font-family: mgothic;
  src: url("../fonts/mgothic020.ttf");
  font-weight: 200;
  font-style: normal; }
@font-face {
  font-family: mgothic;
  src: url("../fonts/mgothic030.ttf");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: mgothic;
  src: url("../fonts/mgothic040.ttf");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: mgothic;
  src: url("../fonts/mgothic050.ttf");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: mgothic;
  src: url("../fonts/mgothic060.ttf");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: mgothic;
  src: url("../fonts/mgothic070.ttf");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: mgothic;
  src: url("../fonts/mgothic080.ttf");
  font-weight: 800;
  font-style: normal; }
@font-face {
  font-family: mgothic;
  src: url("../fonts/mgothic090.ttf");
  font-weight: 900;
  font-style: normal; }
@font-face {
  font-family: mgothic;
  src: url("../fonts/mgothic100.ttf");
  font-weight: 1000;
  font-style: normal; }
.tab_wrapper {
  margin: 0 calc(100vw * (40/640));
  border-radius: calc(100vw * (30/640));
  position: relative;
  overflow: hidden; }
  .tab_wrapper.tab_01 .tab_header:before {
    left: 0%; }
  .tab_wrapper.tab_02 .tab_header:before {
    left: 50%; }

.tab_header {
  display: flex;
  position: relative;
  background-color: #a5a5a5;
  overflow: hidden; }
  .tab_header:before {
    display: block;
    content: '';
    position: absolute;
    width: 50%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #fff; }

.tab_header .tab_btn {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: calc(100vw * (28/640)) 0;
  font-weight: 700;
  font-size: calc(100vw * (20/640));
  line-height: calc(100vw * (20/640));
  letter-spacing: calc(100vw * (-1.2/640));
  color: #fff;
  transition: color 0.3s; }
  .tab_header .tab_btn span {
    position: relative; }
  .tab_header .tab_btn.active {
    pointer-events: none;
    color: #000;
    transition: color 0.3s; }

.tab_content {
  display: flex;
  flex-direction: row;
  overflow-x: hidden; }
  .tab_content.active_tab_01 .tab_item:first-child {
    animation: tabContentSlideRight 0.3s forwards; }
  .tab_content.active_tab_02 .tab_item:first-child {
    animation: tabContentSlideLeft 0.3s forwards; }

.tab_content .tab_item {
  min-width: 100%;
  margin-left: 0;
  transition: margin-left 0.3s; }

.tab_content .tab_item .sub_wrapper {
  border-radius: 0;
  margin: 0;
  min-height: calc(100vh - calc(100vw * (226/640))); }

.tab_modal {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  padding: calc(100vw * (45/640));
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top-left-radius: calc(100vw * (30/640));
  border-top-right-radius: calc(100vw * (30/640)); }
  .tab_modal .img_box {
    width: calc(100vw * (130/640));
    height: calc(100vw * (130/640)); }
    .tab_modal .img_box img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .tab_modal p {
    font-weight: 500;
    margin-top: calc(100vw * (60/640));
    font-size: calc(100vw * (23/640));
    line-height: calc(100vw * (23/640));
    letter-spacing: calc(100vw * (-1.38/640)); }
  .tab_modal .block_btn {
    margin-top: calc(100vw * (60/640)); }

@media (min-width: 640px) {
  .tab_wrapper {
    margin: 0 40px;
    border-radius: 30px; }

  .tab_header .tab_btn {
    padding: 28px 0;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: -1.2px; }

  .tab_content .tab_item .sub_wrapper {
    min-height: calc(100vh - 226px); }

  .tab_modal {
    padding: 45px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px; }
    .tab_modal .img_box {
      width: 130px;
      height: 130px; }
    .tab_modal p {
      margin-top: 60px;
      font-size: 23px;
      line-height: 23px;
      letter-spacing: -1.38px; }
    .tab_modal .block_btn {
      margin-top: 60px; } }
.find_box_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .find_box_wrapper .input_box {
    margin-top: calc(100vw * (65/640)); }
  .find_box_wrapper .form_input.login_input {
    color: #fff; }
    .find_box_wrapper .form_input.login_input::placeholder {
      color: #fff; }
    .find_box_wrapper .form_input.login_input + span {
      background-color: #fff;
      opacity: 0.5; }
  .find_box_wrapper .form_input.regist_input {
    color: #000; }
    .find_box_wrapper .form_input.regist_input::placeholder {
      color: #d2d2d2; }
    .find_box_wrapper .form_input.regist_input ~ span {
      background-color: #d2d2d2; }
  .find_box_wrapper .form_input:focus ~ span:after {
    width: 100%;
    transition: width 0.3s ease-in-out; }
  .find_box_wrapper .input_icon {
    display: block;
    position: absolute;
    right: 0;
    opacity: 0;
    display: none;
    bottom: calc(100vw * (22/640)); }
    .find_box_wrapper .input_icon.delete {
      width: calc(100vw * (22/640));
      height: calc(100vw * (22/640)); }
    .find_box_wrapper .input_icon.show_password {
      width: calc(100vw * (32/640));
      height: calc(100vw * (22/640)); }
      .find_box_wrapper .input_icon.show_password img {
        display: none; }
    .find_box_wrapper .input_icon img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-fit: contain; }
  @media (min-width: 640px) {
    .find_box_wrapper .input_box {
      margin-top: 65px; }
    .find_box_wrapper .input_icon {
      bottom: 22px; }
      .find_box_wrapper .input_icon.delete {
        width: 22px;
        height: 22px; }
      .find_box_wrapper .input_icon.show_password {
        width: 32px;
        height: 22px; } }
  .find_box_wrapper .change_password_box {
    flex: 1; }
    .find_box_wrapper .change_password_box .input_box .form_group:not(:first-child) {
      margin-top: calc(100vw * (50/640)); }
    .find_box_wrapper .change_password_box .block_btn {
      margin-top: calc(100vw * (60/640)); }
  @media (min-width: 640px) {
    .find_box_wrapper .change_password_box .input_box .form_group:not(:first-child) {
      margin-top: 50px; }
    .find_box_wrapper .change_password_box .block_btn {
      margin-top: 60px; } }
  .find_box_wrapper .find_box {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .find_box_wrapper .find_box .img_box {
      width: calc(100vw * (130/640));
      height: calc(100vw * (130/640)); }
      .find_box_wrapper .find_box .img_box img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
    .find_box_wrapper .find_box .message_box {
      font-weight: 500;
      font-size: calc(100vw * (23/640));
      line-height: calc(100vw * (37/640));
      letter-spacing: calc(100vw * (-1.38/640));
      margin-top: calc(100vw * (40/640));
      width: calc(100vw * (260/640));
      text-align: center;
      word-break: keep-all; }
    .find_box_wrapper .find_box .user_info {
      margin-top: calc(100vw * (37/640));
      margin-bottom: calc(100vw * (32/640));
      padding: calc(100vw * (26/640));
      border-top: 0.5px solid #000;
      border-bottom: 0.5px solid #000;
      text-align: center; }
      .find_box_wrapper .find_box .user_info .user_email {
        font-weight: 500;
        font-size: calc(100vw * (23/640));
        line-height: calc(100vw * (23/640));
        letter-spacing: calc(100vw * (-0.46/640)); }
      .find_box_wrapper .find_box .user_info .regist_date {
        font-weight: 300;
        margin-top: calc(100vw * (15/640));
        font-size: calc(100vw * (20/640));
        line-height: calc(100vw * (23/640));
        letter-spacing: calc(100vw * (-0.4/640)); }
        .find_box_wrapper .find_box .user_info .regist_date span:first-child:after {
          content: '|';
          display: inline-block;
          margin: 0 calc(100vw * (18/640)); }
    .find_box_wrapper .find_box .block_btn {
      margin-top: calc(100vw * (44/640)); }
  .find_box_wrapper .find_login_box {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center; }
    .find_box_wrapper .find_login_box button,
    .find_box_wrapper .find_login_box a {
      width: 50%;
      height: calc(100vw * (67/640));
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-weight: 700;
      font-size: calc(100vw * (20/640));
      line-height: calc(100vw * (20/640));
      letter-spacing: calc(100vw * (-1.2/640));
      color: #a5a5a5;
      border-radius: calc(100vw * (30/640));
      border: 3px solid #a5a5a5; }
      .find_box_wrapper .find_login_box button:first-child,
      .find_box_wrapper .find_login_box a:first-child {
        margin-right: calc(100vw * (10/640)); }

@media (min-width: 640px) {
  .find_box_wrapper .find_box .img_box {
    width: 130px;
    height: 130px; }
  .find_box_wrapper .find_box .message_box {
    font-size: 23px;
    line-height: 37px;
    letter-spacing: -1.38px;
    margin-top: 40px;
    width: 260px; }
  .find_box_wrapper .find_box .user_info {
    margin-top: 37px;
    margin-bottom: 32px;
    padding: 26px; }
    .find_box_wrapper .find_box .user_info .user_email {
      font-size: 23px;
      line-height: 23px;
      letter-spacing: -0.46px; }
    .find_box_wrapper .find_box .user_info .regist_date {
      margin-top: 15px;
      font-size: 20px;
      line-height: 23px;
      letter-spacing: -0.4px; }
      .find_box_wrapper .find_box .user_info .regist_date span:first-child:after {
        margin: 0 18px; }
  .find_box_wrapper .find_box .block_btn {
    margin-top: 44px; }
  .find_box_wrapper .find_login_box button,
  .find_box_wrapper .find_login_box a {
    height: 67px;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: -1.2px;
    border-radius: 30px; }
    .find_box_wrapper .find_login_box button:first-child,
    .find_box_wrapper .find_login_box a:first-child {
      margin-right: 10px; } }
.result_modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #fff;
  top: 0;
  left: 0;
  z-index: 10;
  padding: calc(100vw * (40/640));
  display: none;
  flex-direction: column;
  overflow: auto;
  transform-origin: botton;
  transform: translateY(100%);
  animation: popupSlideUp 0.3s forwards; }
  .result_modal.closing {
    animation: popupSlideDown 0.3s forwards; }
  .result_modal .result_close {
    width: calc(100vw * (30/640));
    height: calc(100vw * (30/640));
    position: relative; }
    .result_modal .result_close img {
      width: 100%;
      height: 100%; }
  .result_modal h2 {
    width: 100%;
    text-align: left;
    font-weight: 700;
    font-size: calc(100vw * (40/640));
    line-height: calc(100vw * (55/640));
    letter-spacing: calc(100vw * (-2.4/640));
    margin-top: calc(100vw * (80/640)); }

.result_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  width: 100%;
  text-align: center;
  margin-top: calc(100vw * (60/640));
  margin-bottom: calc(100vw * (60/640));
  padding: 0 calc(100vw * (45/640)); }
  .result_box .result_imgbox {
    width: calc(100vw * (130/640));
    height: calc(100vw * (130/640)); }
    .result_box .result_imgbox img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .result_box .text_top {
    font-weight: 500;
    font-size: calc(100vw * (23/640));
    line-height: calc(100vw * (37/640));
    letter-spacing: calc(100vw * (-1.38/640));
    margin-top: calc(100vw * (40/640)); }
  .result_box .text_bottom {
    font-weight: 300;
    font-size: calc(100vw * (20/640));
    line-height: calc(100vw * (33/640));
    letter-spacing: calc(100vw * (-1.2/640));
    margin-top: calc(100vw * (40/640)); }
  .result_box .result_email {
    font-weight: 500;
    padding: calc(100vw * (25/640));
    font-size: calc(100vw * (23/640));
    line-height: calc(100vw * (37/640));
    letter-spacing: calc(100vw * (-0.46/640));
    margin-top: calc(100vw * (40/640));
    border-top: 1px solid #000;
    border-bottom: 1px solid #000; }

@media (min-width: 640px) {
  .result_modal {
    padding: 40px; }
    .result_modal .result_close {
      width: 30px;
      height: 30px; }
    .result_modal h2 {
      font-size: 40px;
      line-height: 55px;
      letter-spacing: -2.4px;
      margin-top: 80px; }

  .result_box {
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 0 45px; }
    .result_box .result_imgbox {
      width: 130px;
      height: 130px; }
    .result_box .text_top {
      font-size: 23px;
      line-height: 37px;
      letter-spacing: -1.38px;
      margin-top: 40px; }
    .result_box .text_bottom {
      font-size: 20px;
      line-height: 33px;
      letter-spacing: -1.2px;
      margin-top: 40px; }
    .result_box .result_email {
      padding: 25px;
      font-size: 23px;
      line-height: 37px;
      letter-spacing: -0.46px;
      margin-top: 40px; } }

/*# sourceMappingURL=find.css.map */
