.container.login {
  background: url("../images/bg_login.png") no-repeat 100%;
  background-size: cover; }

.login_wrapper {
  padding: calc(100vw * (158/640)) calc(100vw * (60/640)) calc(100vw * (70/640));
  width: calc(100vw * (553/640));
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); }
  .login_wrapper .login_box .input_box {
    margin-top: calc(100vw * (65/640)); }
  .login_wrapper .login_box .form_input.login_input {
    color: #fff; }
    .login_wrapper .login_box .form_input.login_input::placeholder {
      color: #fff; }
    .login_wrapper .login_box .form_input.login_input + span {
      background-color: #fff;
      opacity: 0.5; }
  .login_wrapper .login_box .form_input.regist_input {
    color: #000; }
    .login_wrapper .login_box .form_input.regist_input::placeholder {
      color: #d2d2d2; }
    .login_wrapper .login_box .form_input.regist_input ~ span {
      background-color: #d2d2d2; }
  .login_wrapper .login_box .form_input:focus ~ span:after {
    width: 100%;
    transition: width 0.3s ease-in-out; }
  .login_wrapper .login_box .input_icon {
    display: block;
    position: absolute;
    right: 0;
    opacity: 0;
    display: none;
    bottom: calc(100vw * (22/640)); }
    .login_wrapper .login_box .input_icon.delete {
      width: calc(100vw * (22/640));
      height: calc(100vw * (22/640)); }
    .login_wrapper .login_box .input_icon.show_password {
      width: calc(100vw * (32/640));
      height: calc(100vw * (22/640)); }
      .login_wrapper .login_box .input_icon.show_password img {
        display: none; }
    .login_wrapper .login_box .input_icon img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-fit: contain; }
  @media (min-width: 640px) {
    .login_wrapper .login_box .input_box {
      margin-top: 65px; }
    .login_wrapper .login_box .input_icon {
      bottom: 22px; }
      .login_wrapper .login_box .input_icon.delete {
        width: 22px;
        height: 22px; }
      .login_wrapper .login_box .input_icon.show_password {
        width: 32px;
        height: 22px; } }
  .login_wrapper .login_box h1 {
    font-size: calc(100vw * (60/640));
    line-height: calc(100vw * (75/640));
    letter-spacing: calc(100vw * (-3.6/640));
    font-weight: 700;
    color: #fff; }
  @media (min-width: 640px) {
    .login_wrapper .login_box h1 {
      font-size: 60px;
      line-height: 75px;
      letter-spacing: -3.6px; } }
  .login_wrapper .btn_box_login {
    margin-top: calc(100vw * (40/640));
    display: flex;
    flex-direction: column; }
    .login_wrapper .btn_box_login button,
    .login_wrapper .btn_box_login a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      font-weight: 700;
      height: calc(100vw * (67/640));
      font-size: calc(100vw * (20/640));
      line-height: calc(100vw * (20/640));
      letter-spacing: calc(100vw * (-1.2/640));
      border-radius: calc(100vw * (30/640)); }
      .login_wrapper .btn_box_login button:not(:last-child),
      .login_wrapper .btn_box_login a:not(:last-child) {
        margin-bottom: calc(100vw * (20/640)); }
      .login_wrapper .btn_box_login button.btn_login,
      .login_wrapper .btn_box_login a.btn_login {
        background-color: #000;
        color: #fff; }
      .login_wrapper .btn_box_login button.btn_join,
      .login_wrapper .btn_box_login a.btn_join {
        background-color: #fff;
        color: #000; }
  @media (min-width: 640px) {
    .login_wrapper .btn_box_login {
      margin-top: 40px; }
      .login_wrapper .btn_box_login button,
      .login_wrapper .btn_box_login a {
        height: 67px;
        font-size: 20px;
        line-height: 20px;
        letter-spacing: -1.2px;
        border-radius: 30px; }
        .login_wrapper .btn_box_login button:not(:last-child),
        .login_wrapper .btn_box_login a:not(:last-child) {
          margin-bottom: 20px; } }
  .login_wrapper .login_find_box {
    margin-top: calc(100vw * (47/640));
    position: relative; }
    .login_wrapper .login_find_box .find_btn_group {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start; }
    .login_wrapper .login_find_box .find_btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
      color: #fff;
      opacity: 0.7;
      font-weight: 500;
      border: 2px solid #fff;
      border-radius: calc(100vw * (30/640));
      height: calc(100vw * (55/640));
      font-size: calc(100vw * (20/640));
      line-height: calc(100vw * (35/640));
      letter-spacing: calc(100vw * (-1.2/640)); }
      .login_wrapper .login_find_box .find_btn:not(:first-child) {
        margin-left: calc(100vw * (9/640)); }
  .login_wrapper .more_help {
    position: relative;
    width: 100%;
    margin-top: calc(100vw * (23/640));
    opacity: 0.7;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: #fff;
    font-weight: 500;
    font-size: calc(100vw * (20/640));
    line-height: calc(100vw * (20/640));
    letter-spacing: calc(100vw * (-1.2/640)); }
    .login_wrapper .more_help .icon_left {
      width: calc(100vw * (26.7/640));
      height: calc(100vw * (26.7/640)); }
    .login_wrapper .more_help .icon_right {
      width: calc(100vw * (14/640));
      height: calc(100vw * (18/640)); }
    .login_wrapper .more_help span {
      margin: 0 calc(100vw * (7/640)); }
    .login_wrapper .more_help:active, .login_wrapper .more_help:focus, .login_wrapper .more_help:visited {
      color: #fff; }
  @media (min-width: 640px) {
    .login_wrapper .login_find_box {
      margin-top: 47px; }
      .login_wrapper .login_find_box .find_btn {
        border-radius: 30px;
        height: 55px;
        font-size: 20px;
        line-height: 35px;
        letter-spacing: -1.2px; }
        .login_wrapper .login_find_box .find_btn:not(:first-child) {
          margin-left: 9px; }
    .login_wrapper .more_help {
      margin-top: 23px;
      font-size: 20px;
      line-height: 20px;
      letter-spacing: -1.2px; }
      .login_wrapper .more_help .icon_left {
        width: 26.7px;
        height: 26.7px; }
      .login_wrapper .more_help .icon_right {
        width: 14px;
        height: 18px; }
      .login_wrapper .more_help span {
        margin: 0 7px; } }

@media (min-width: 640px) {
  .login_wrapper {
    padding: 158px 60px 70px;
    width: 553px; } }

/*# sourceMappingURL=login.css.map */
